fastapi
uvicorn
sqlalchemy
asyncpg
alembic
pydantic-settings
httpx
supervision
trackers
opencv-python
numpy
python-multipart
pymilvus
pymilvus[milvus_lite]
uvicorn[standard]
python-Levenshtein
psutil
rknn-toolkit-lite2
OPi.GPIO
ultralytics